include includes/head.pug

body
    main
        form
            label(for="tablefile") Загрузить файл
            input(type="file" name="tablefile" id="tablefile")
            input(type="submit")
            p#flashMessage
            p#status.inactive Загрузка...
