@import './variables.css';

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


input {
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
}

#app {
    min-width: 100vw;
    min-height: 100vh;
}

.main {
    display: flex;
    min-width: 100%;
    min-height: 100%;
}
